@font-face {
    font-family: minecraft;
    src: url(/fonts/minecraft_font.ttf);
}
*
{
    border-radius: 0pt;
    font-family: minecraft;
    scroll-behavior: smooth;
}

button
{
    margin-bottom: 5pt;
    padding: 2pt;
}
.border, button, #statusbox
{
    border: 2pt solid #888888;
}

body, html
{
    margin: 0;
    padding: 0;
    background-color: black;
}

.navigation
{
    width: 100%;
    position: fixed;
    background-color: #292929;
    height: 25pt;

    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigation a,
.navigation a:visited
{
    position: relative;
    padding: 10pt;
    margin-right: 10pt;
    padding-top: 5pt;
    color: white;
    text-decoration: none;
    height: 25pt;
    font-size: 14pt;
    top: 2pt;
    cursor: pointer;
}
.navigation a:hover
{
    background-color: #626262;
}
#main
{
    background-color: #292929;
    width: calc(100% - 300pt - 100pt);
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50pt;

    transform: translate(calc(-50% + 100pt), 0);
    padding: 10pt;
    color: white;
}
#sidebar
{
    background-color: #292929;
    width: 160pt;
    height: fit-content;
    top: 50pt;
    position: absolute;
    left: 55pt;
    
    /* transform: translate(calc(-50% + 120pt), 0); */
    padding: 10pt;
    color: white;

}
#sidebar button
{
    width: 100%;
    height: 20pt;
}

#consoleContainer
{
    width: 100%;
    height: 500pt;
    position: relative;
    overflow: hidden;
    background-color: #606060;
}
#consoleContainer > form
{
    position: absolute;
    display: block;
    background-color: #7c7c7c;
    
    bottom: 0;
    left: 0;
    right: 0;
    height: 20pt;
}
#consoleContainer > form *
{
    height: 100%;
    border: none;
    background-color: #00000000;
}
#consoleContainer > form *:focus
{
    outline: none;
}
#consoleContainer > form > input
{
    width: calc(100% - 35pt);
    padding-left: 5pt;
}
#consoleContainer > form > button
{
    width: 25pt;
    left: calc(100% - 30pt);
}
#consoleContainer > div.textContainer
{
    display: block;
    position: absolute;
    top: 0;
    left: 10pt;
    right: 10pt;
    bottom: 25pt;
    overflow-y: scroll;
    overflow-x: initial;
}

.dragable
{
    position: fixed;
    resize: both !important;

    background-color: #cbcbcb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dragHeadder
{
    position: absolute;
    width: 100%;
    height: 15pt;
    background-color: lightcyan;
    z-index: 5;
    text-align: center;
    cursor: move;
}

span.timestamp
{
    color: cadetblue;
}

span.sender
{
    color: steelblue;
}
div.fit
{
    width: fit-content;
    height: fit-content;
}

#statusbox
{
    padding: 0pt;
    margin-bottom: 5pt;
    text-align: center;
}
#statusbox > div
{
    height: 25pt;
    width: 100%;
    font-size: 16pt;
}

#statusbox.s1 > div
{
    background-color: #86a1b5;
}
#statusbox.s1 > div::after
{
    content: "starting up";
}

#statusbox.s2 > div
{
    background-color: #92d192;
}
#statusbox.s2 > div::after
{
    content: "online";
}

#statusbox.s3 > div
{
    background-color: #9c8383;
}
#statusbox.s3 > div::after
{
    content: "Shuting Down";
}

#statusbox.s4 > div
{
    background-color: #c22d2d;
}
#statusbox.s4 > div::after
{
    content: "Offline";
}

#statusbox.s5 > div
{
    background-color: #9e5ae2;
}
#statusbox.s5 > div::after
{
    content: "Restarting";
}

#serverPropertiesContainer div input
{
    position: absolute;
    left: 50%;
}
#serverPropertiesContainer div
{
    width: calc(50% + 20pt);
}
#serverPropertiesContainer div.odd
{
    background-color: #4a4a4a6f;
}